/* fonts */

/* raleway */
/* regular */

@font-face {
    font-family: "Raleway";
    src: local("Raleway regular"),
        url("../font/raleway/regular/raleway_regular.eot"),
        url("../font/raleway/regular/raleway_regular.eot?#iefix") format("embedded-opentype"),
        url("../font/raleway/regular/raleway_regular.woff2") format("woff2"),
        url("../font/raleway/regular/raleway_regular.woff") format("woff"),
        url("../font/raleway/regular/raleway_regular.ttf") format("truetype"),
        url("../font/raleway/regular/raleway_regular.svg") format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* medium */

@font-face {
    font-family: "Raleway";
    src: local("Relaway medium"),
        url("../font/raleway/medium/raleway_medium.eot"),
        url("../font/raleway/medium/raleway_medium.eot?#iefix") format("embedded-opentype"),
        url("../font/raleway/medium/raleway_medium.woff2") format("woff2"),
        url("../font/raleway/medium/raleway_medium.woff") format("woff"),
        url("../font/raleway/medium/raleway_medium.ttf") format("truetype"),
        url("../font/raleway/medium/raleway_medium.svg") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* semibold */

@font-face {
    font-family: "Raleway";
    src: local("Raleway semibold"),
        url("../font/raleway/semibold/raleway_semibold.eot"),
        url("../font/raleway/semibold/raleway_semibold.eot?#iefix") format("embedded-opentype"),
        url("../font/raleway/semibold/raleway_semibold.woff2") format("woff2"),
        url("../font/raleway/semibold/raleway_semibold.woff") format("woff"),
        url("../font/raleway/semibold/raleway_semibold.ttf") format("truetype"),
        url("../font/raleway/semibold/raleway_semibold.svg") format("svg");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* bold */

@font-face {
    font-family: "Raleway";
    src: local("Raleway bold"),
        url("../font/raleway/bold/raleway_bold.eot"),
        url("../font/raleway/bold/raleway_bold.eot?#iefix") format("embedded-opentype"),
        url("../font/raleway/bold/raleway_bold.woff2") format("woff2"),
        url("../font/raleway/bold/raleway_bold.woff") format("woff"),
        url("../font/raleway/bold/raleway_bold.ttf") format("truetype"),
        url("../font/raleway/bold/raleway_bold.svg") format("svg");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* extrabold */

@font-face {
    font-family: "Raleway";
    src: local("Raleway extrabold"),
        url("../font/raleway/extrabold/raleway_extrabold.eot"),
        url("../font/raleway/extrabold/raleway_extrabold.eot?#iefix") format("embedded-opentype"),
        url("../font/raleway/extrabold/raleway_extrabold.woff2") format("woff2"),
        url("../font/raleway/extrabold/raleway_extrabold.woff") format("woff"),
        url("../font/raleway/extrabold/raleway_extrabold.ttf") format("truetype"),
        url("../font/raleway/extrabold/raleway_extrabold.svg") format("svg");
    font-weight:800;
    font-style: normal;
    font-display: swap;
}


/* variables */

:root {
    --default-color-text: #081800;
    --primary-color-text: #ffffff;
    --soft-color-text: #101c02;
    --accent-text-color: #418a1c;

    --default-family-text: "Raleway", sans-serif;
    --default-weight-text: 700;
    --regular-size-text: 18px;

    --default-lineheight: 1.3;

    --default-bg-color:#081800;
    --primary-bg-color: #ffffff;
    --soft-bg-color: #f7ffec;
    --accent-bg-color: #418a1c;

    --accent-shadow-color: #51c815;
}


/* document */

.document {
    scroll-behavior: smooth;

    font-size: var(--regular-size-text);
}


/* .page */

.page {
    width: 100%;
}

.document__page {
    background: var(--primary-bg-color);

    font-family: var(--default-family-text);
    font-weight: var(--default-weight-text);
    font-style: normal;
    line-height: var(--default-lineheight);
    color: var(--default-color-text);
}


/* .wrapper */

.wrapper {
    width: 100%;

    overflow: hidden;
}

.page__wrapper {
    position: relative;

    width: 100%;
    max-width: 1600px;

    margin: 0 auto;
}


/* .inner */

.inner {
    width: 100%;
}

.page__inner {
    width: 100%;
    max-width: 1080px;

    margin: 0 auto;
}


/* .header */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    width: 100%;
}

.page__header {
    position: absolute;
    left: 50%;
    top: 40px;

    width: 100%;
    max-width: 1073px;

    transform: translateX(-50%);
}


/* .logo */

.logo {
    width: 100%;
}

.header__logo {
    flex: 0 0 68px;

    height: 56px;
}

.logo__img {
    width: 100%;
    height: 100%;

    object-fit: contain;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 80px;
    
    width: 60%;
}


/* .nav */

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 45px;
}


/* .menu */

.menu {
    width: 100%;
}

.header__menu {
    display: none;

    flex: 0 0 58px;
    height: 56px;
}


/* .link */ 

.link {
    display: inline-block;
}

.nav__link {
    color: var(--soft-color-text);

    transition: color 0.3s ease-in;
}

.nav__link:hover {
    color: var(--accent-text-color);
} 

.nav__link--active {
    color: var(--accent-text-color);
}


/* .btn */

.btn {
    display: inline-block;

    white-space: nowrap;
}

.btn--standart {
    padding: 1.11em 1.66em;

    font-family: var(--default-family-text);
    font-size: var(--regular-size-text);
    font-weight: var(--default-weight-text);
    text-align: center;
    text-transform: capitalize;
    
}

.btn--action {
    position: relative;

    background: var(--default-bg-color);
    box-shadow: 0.44em 0.44em 0 var(--accent-shadow-color);

    color: var(--primary-color-text);

    transition: transform 0.2s ease-in, box-shadow 0.2s ease-in, background 0.2s ease-in 0.2s, text-shadow 0.2s ease-in 0.3s;
}

.btn--action:hover {
    background: var(--accent-bg-color);
    box-shadow: 0.33em 0.33em 0 var(--accent-shadow-color), 0 0 1.66em var(--accent-bg-color);
    text-shadow: 0 0 0.83em var(--primary-color-text);

    transform: translate(0.11em, 0.11em);
}

.btn--action:focus {
    background: var(--accent-bg-color);
    box-shadow: 0.33em 0.33em 0 var(--accent-shadow-color), 0 0 1.66em var(--accent-bg-color);
    text-shadow: 0 0 0.83em var(--primary-color-text);

    transform: translate(0.11em, 0.11em);
}

.intro__btn {
    margin: 0 0 74px;
}


/* .img */

.img {
    display: block;
}


/* .main */

.main {
    width: 100%;
}

.page__main {
    margin: 0 0 130px;
}


/* .intro */

.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page__intro {
    width: 100%;

    margin: 0 0 130px;
}

.intro__column {
    width: 50%;
}

.intro__column--img {
    padding: 0 17px 30.4px 53px;
    
    background: var(--soft-bg-color);
}

.intro__column--text {
    margin: 190px auto 0 75px;
}

.intro__img-container {
    width: 100%;
    max-width: 669px;
    max-height: 809.6px;
}

.intro__img {
    width: 100%;
    height: 100%;

    object-fit: contain;
}

.intro__header {
    position: relative;
    left: -28%;

    width: 100%;
    max-width: 715px;

    margin: 0 0 35.71px;
}

.intro__title {
    width: 100%;
}

.title {
    font-size: 3.35em;
    font-weight: 800;
}

.title__accent-text {
    display: block;

    font-size: 1.33em;
    color: var(--accent-text-color);
}

.intro__description {
    width: 100%;
    max-width: 528px;

    margin: 0 0 45px;

    line-height: 1.6;
}

.description__text {
    opacity: 0.6;
}

.intro__features {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 102px;

    width: 100%;
}

.features__number {
    margin: 0 0 0.23em;

    font-size: 2.38em;
    line-height: 1.4;

    color: var(--accent-text-color);
}

.features__description:not(:last-child) {
    margin: 0 0 0.55em;
}

.features__text {
    opacity: 0.7;
}

/* .wrapper__img */

.wrapper__img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}


/* modal window */

.page__modal {
    display: none;
}
